@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container{
    width: 90vw;
    margin: 5% auto;
    background-image: url(/Registration-form/images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    
    padding: 6% 8%;
}

#register{
    background-color: #fff;
    padding: 8%;
    border-radius: 5px;
    padding-bottom: 10%;
}

input{
    width: 100%;
    margin-bottom: 5%;
    padding: 4% 6%;
    font-weight: bold;
    font-size: 0.7rem;
    border:1.5px solid rgb(244, 239, 239);
    border-radius: 5px;
}

button{
    padding: 3% 15%;
    font-weight: bold;
    font-size: 0.6rem;
    width: 100%;
    color: #fff;
}
a{
    color: rgb(218, 214, 214);
    text-decoration: none;

}
mark{
    background-color: hsl(0, 100%, 74%);
}
.ass{
    background-color: hsl(248, 32%, 49%);
    color: #fff;
}
.f-b{
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 5%;
    border-radius: 5px;
    border: 2px solid hsl(248, 32%, 49%);
}

#check{
    width: 12px;
  height: 12px;
  float: left;
    margin-top: 4%;
}

#db{
    padding-left: 3px;
    float: left;
    font-size: 0.5rem;
    margin-top: 4%;
}

h1{
    width: 60%;
    font-weight: 700;
}
p{
    width: 80%;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(232, 229, 229);
}

.one, .two{
    width: 50%;
}

.one{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: left;
    color: #fff;
}

.tmm{
    background-color: #fff;
    color: hsl(0, 100%, 74%);
    font-weight: bold;
}

.btn{
    background-color: hsl(154, 59%, 51%);
    border: 2px solid hsl(154, 59%, 51%);
    border-radius: 5px;
}

@media (max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 auto;
        background-image: url(/Registration-form/images/bg-intro-mobile.png);

    }
    .one, .two{
        width: 100%;
        margin: 15% auto;
    }

    .two{
        margin-top: 10%;
    }
    h1{
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 5%;
       text-align: center;
       
    }
    p{
        width: 100%;
        font-size: 0.6rem;
        line-height: 2;
        font-weight: 400;
        text-align: center;
    }

   .f-b{
       padding: 5% 25%;
       line-height: 2;
   }

   #register{
       padding-bottom: 20%;
   }
   #check{
       margin-top: 5%;
       margin-bottom: 0;
   }
   #db{
       margin-top: -6%;
       padding-left:7%;
       text-align: center;
      padding-bottom: 5%;
   }
    
}